</div>
<br><br>
<div class="row">
  <div class="col-lg-4">
  </div>
<h3>子どもと楽しいが見つかる</h3>
</div>
<br>
<div class="row">
  <div class="col-lg-3">
  </div>
    <h6>月齢にあった玩具を悩まれる方は多いと思います。<br>お子さまにあった玩具を選び、成長を促し。お子さまの笑顔を楽しんでいただきたいと思います。<br>
    購入には新規登録が必要になります。</h6>
</div>